{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block content %}
Hi {{ person }}! I think you're {{ compliment }}!

    <form action="/game">
      Would you like to play a game?
    
      <input type="radio" name="game" value="yes" checked>
      <label>Yes</label>
    
      <input type="radio" name="game" value="no">
      <label>No</label>

      <input type="hidden" name="person" value={{person}}>

      <input type="submit" name="Submit">
    </form>
{% endblock %}

    